body {
    box-sizing: border-box;
    background-color: rgb(18, 0, 51);
    font-family: 'Open Sans', 'Helvetica Neue', system-ui,'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;

}
.introtext {
    text-align: center;
    color: azure;
}
#gameform {
    width: 45%;
    padding: 2rem;
    background-color: white;
    color: black;
    align-self: center;
    margin: 0%;
}
fieldset {
    padding: 0%;
    margin: 0%;
    border: none;
}
legend {
    font-size: 2rem;
    font-weight: 400;
    padding: 0%;
    margin-bottom: 2rem;
}
input {
    display: block;
    padding: 0.4rem;
    margin-left: 0%;
    margin-bottom: 2rem;
    width: 90%;
}
label {
    margin: 0%
}
button {
    padding: 1rem;
    background-color: rgb(18, 0, 51);
    color: white;
    border: none;
}
button:hover {
    color: rgb(18, 0, 51);
    background-color: white;
    border: solid 0.1rem rgb(18, 0, 51);
}
.hidden {
    display: none;
}
.tttboard {
    align-self: center;
    display: grid;
    grid-template: repeat(3, 30%) / repeat(3, 30%);
    height: 30rem;
    width: 30rem;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}
.tttboard > div {
    background-color: rgb(155, 56, 255);;
}
.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.winner {
    background-color: aquamarine;
}
.controls {
    display: flex;
    justify-content: space-between;
    width: 34%;
}
.controls > button {
    border: solid 0.1rem white;
}